<mat-toolbar>
    <span>Registration</span>
 </mat-toolbar>
 <mat-card class="my-card">
    <mat-card-content>
        <section class="example-section">
            <label class="example-margin">You are a: </label>
            <mat-radio-group [(ngModel)]="user.role">
              <mat-radio-button class="example-margin" value="Client">Client</mat-radio-button>
              <mat-radio-button class="example-margin" value="Company">Service Provider</mat-radio-button>
            </mat-radio-group>
          </section>
        <form class="my-form">
            
           <mat-form-field class="full-width" *ngIf="user.role === 'Client'">
                  <mat-label>First Name</mat-label>
                  <input  matInput  placeholder="First name" [formControl]="firstName"  name="firstName" [(ngModel)]="user.firstName" required>
                  <mat-error *ngIf="firstName.invalid">{{getErrorMessage()}}</mat-error>
               </mat-form-field>
               <mat-form-field class="full-width" *ngIf="user.role === 'Client'">
                  <mat-label>Last Name</mat-label>
                  <input  matInput  placeholder="Last Name" [formControl]="lastName" name="lastName" [(ngModel)]="user.lastName" required>
                  <mat-error *ngIf="lastName.invalid">{{getErrorMessage()}}</mat-error>
               </mat-form-field>
               <mat-form-field class="full-width" *ngIf="user.role === 'Company'">
                  <mat-label>Company name</mat-label>
                  <input  matInput  placeholder="Company name" [formControl]="companyName" name="companyName" [(ngModel)]="user.name" required>
                  <mat-error *ngIf="companyName.invalid">{{getErrorMessage()}}</mat-error>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input  matInput  placeholder="Email" [formControl]="email" name="email" [(ngModel)]="user.email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input  matInput  placeholder="Password" [formControl]="password"  name="password" [(ngModel)]="user.password" required>
                  <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
               </mat-form-field>
        </form>
      </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button [disabled]="(email.invalid || password.invalid) && (firstName.invalid || lastName.invalid || companyName.invalid)" (click)="register()" color="primary">REGISTER</button>
    </mat-card-actions>
 </mat-card>