<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
       <span><a href="/">HOME</a></span>
       <a mat-button routerLink="/dashboard" *ngIf="user.id != null">Dashboard</a>
       <span class="spacer"></span>
       <a mat-button routerLink="/register" *ngIf="!isLoggedin">Register</a>
       <a mat-button routerLink="/login" *ngIf="!isLoggedin">Login</a>
       <a mat-button (clicked)="logout()" routerLink="" *ngIf="isLoggedin">Log out</a>
    </mat-toolbar-row>
</mat-toolbar>
