<mat-toolbar color="primary">
    <mat-toolbar-row>
       <span>My Application</span>
       <a mat-button routerLink="/">Home</a>
       <a mat-button routerLink="/dashboard" *ngIf="user.id != null && user.role == 'Company'">Dashboard</a>
       <a mat-button routerLink="/client-dashboard" *ngIf="user.id != null && user.role == 'Client'">Dashboard</a>
       <a mat-button routerLink="/new-appointment" *ngIf="user.id != null && user.role === 'Client'">Book new appointment</a>
       <span class="spacer"></span>
       <a mat-button routerLink="/register" *ngIf="!isLoggedin">Register</a>
       <a mat-button routerLink="/login" *ngIf="!isLoggedin">Login</a>
       <span *ngIf="user.id != null && user.role == 'Client'">{{user.firstName}}</span>
       <span *ngIf="user.id != null && user.role == 'Company'">{{user.companyName}}</span>
       <a mat-button (click)="logout()" routerLink="" *ngIf="isLoggedin">Log out</a>
    </mat-toolbar-row>
</mat-toolbar>
